<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePageOptions Test</title>
    <!-- This options is used to display various information related to orders -->
    <!-- Is used for beta testing -->
    <!-- Import Bootstrap CSS Framework -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />

    <style>
        .fab-button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 56px;
            height: 56px;
            gap: 24px;
            background-color: #2745FE;
            border-radius: 16px;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <section class="container d-flex gap-4">
        <article class="d-flex flex-column gap-2 justify-content-center align-items-center">
            <div class="fab-button" role="button">
                <img src="./assets/icons/core_functions/add_ticket.svg" alt="Add ticket button" />
            </div>
            <h6 class="text-center">Add<br>ticket</h6>
        </article>
        <article class="d-flex flex-column gap-2 justify-content-center align-items-center">
            <div class="fab-button" role="button">
                <img src="./assets/icons/core_functions/edit_ticket.svg" alt="View all tickets button" />
            </div>
            <h6 class="text-center">View<br>tickets</h6>
        </article>
        <article class="d-flex flex-column gap-2 justify-content-center align-items-center">
            <div class="fab-button" role="button">
                <img src="./assets/icons/core_functions/remove_ticket.svg" alt="Remove ticket button" />
            </div>
            <h6 class="text-center">View<br>tickets</h6>
        </article>
    </section>
    <!-- Import Bootstrap JS Framework -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>