<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Bar</title>

    <style>
    </style>

</head>

<body>
    <header>
        <section>
            <div class="textbar-div">
                <textarea name="searchBar" id="search-bar-test" placeholder="Search a ticket, folder or budget..."
                    row="54px" cols="38"></textarea>
            </div>
        </section>
    </header>

    <script></script>
</body>

</html>