:root {
    --orderhub-brand-color: #2745FE;
    --accent-color: #360A73;
    --light-blue-color: #27B5FE;
    --light-color: #FFFFFF;
    --color-black: #000;

    /* Aside icons buttons */
    --button-bg-hover: #B6B6B6;
    --search-bar-bg-hover: #ECE6F0;
    --button-unselected-bg: #CECECE;

    --maximus-space-medium: 8px;
    --maximus-space-large: 16px;
    --maximus-space-xlarge: 32px;

    --margin-s-display: 8px;
    --margin-m-display: 24px;
    --margin-l-display: 32px;
    --margin-xl-display: 64px;
}

aside {
    width: fit-content;
    margin-left: var(--margin-s-display);
    margin-top: var(--margin-s-display);
    z-index: 0;
}

header {
    width: fit-content;
    position: fixed;
    top: var(--margin-s-display);
    right: var(--margin-s-display);
}