<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Ticket Component</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
            crossorigin="anonymous"
        />

        <style></style>
    </head>
    <body>
        <main>
            <div class="card card-ticket-open">
                <div class="card-header m-0">
                    <p class="h5">Ticket - #49801</p>
                    <p>Client Name</p>
                    <button class="btn btn-light" aria-label="More options">
                        <img
                            src="./assets/icons/more_icon.png"
                            alt="Other options"
                        />
                    </button>
                </div>
                <div class="card-body">
                    <div>
                        <p class="h6">Budget: <strong>R$1985,84</strong></p>
                        <p>Address</p>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor...
                    </p>
                </div>
                <div class="card-footer">
                    <button class="btn btn-light button-edit-ticket">
                        Edit ticket
                    </button>
                    <button class="btn btn-primary button-close-ticket">
                        Close ticket
                    </button>
                </div>
            </div>
        </main>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
