.navigation-bar ul,
.navigation-bar ul li {
    padding: 0;
    margin: 0;
}

.navigation-bar ul li {
    /* --- Navigation Bar --- */
    --nav-bar-li-width: 40px;
    --nav-bar-li-height: 40px;
    --nav-bar-li-radius: 25%;
    --nav-bar-li-margin: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    /* list icon container width */
    width: var(--nav-bar-li-width);
    /* list icon container height*/
    height: var(--nav-bar-li-height);
    border-radius: var(--nav-bar-li-radius);
    margin: var(--nav-bar-li-margin);
    cursor: pointer;
}

.selected {
    background-color: var(--orderhub-brand-color);
}

.unselected {
    background-color: var(--button-unselected-bg);
    transition: scale 0.1s;
}

.unselected:hover {
    scale: 1.1;
    background-color: var(--button-bg-hover);
}

.unselected img {
    filter: brightness(0) saturate(100%) invert(10%) sepia(87%) saturate(5147%) hue-rotate(253deg) brightness(83%) contrast(115%);
    width: 24px;
    height: 24px;
}
