#setting-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    padding: 4px;
    border-radius: 12px;
    background-color: var(--orderhub-brand-color);
    border: none;
    cursor: pointer;
}

#setting-btn img {
    display: block;
    width: 24px;
    height: 24px;
}