@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

:root {
    --orderhub-brand-color: #2745FE;
    --accent-color: #360A73;
    --light-blue-color: #27B5FE;
    --light-color: #FFFFFF;
    --color-black: #000;
    --error-color: #FF2C2C;
    --warning-color: #FF8D28;
    --correct-color: #34C759;

    --warning-color-with-background: #ff8c283a;
    --error-color-with-background: #ff2c2c3a;
    --correct-color-with-background: #34c7593a;

    /* Aside icons buttons */
    --button-bg-hover: #EBEBEB;
    --button-unselected-bg: #EBEBEB;

    /* Navigation sidebar */
    --nav-collapsed-width: 56px;
    --nav-expanded-width: 200px;
    --nav-transition: 220ms ease;

    --maximus-space-medium: 8px;
    --maximus-space-large: 16px;
    --maximus-space-xlarge: 32px;

    --margin-s-display: 8px;
    --margin-m-display: 24px;
    --margin-l-display: 32px;
    --margin-xl-display: 64px;
}

#main-menu-bar {
    flex-shrink: 0;
}

header {
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
    padding: var(--margin-s-display);
    background-color: var(--light-color);
    position: sticky;
    top: 0;
    z-index: 1030;
}

h1,
h2,
h3 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: normal;
    user-select: none;
}
