@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

:root {
    --orderhub-brand-color: #2745FE;
    --accent-color: #360A73;
    --light-blue-color: #27B5FE;
    --light-color: #FFFFFF;
    --color-black: #000;

    /* Aside icons buttons */
    --button-bg-hover: #D8D8D8;
    --search-bar-bg-hover: #ECE6F0;
    --button-unselected-bg: #E9E9E9;

    --maximus-space-medium: 8px;
    --maximus-space-large: 16px;
    --maximus-space-xlarge: 32px;

    --margin-s-display: 8px;
    --margin-m-display: 24px;
    --margin-l-display: 32px;
    --margin-xl-display: 64px;
}

header {
    width: fit-content;
    position: fixed;
    top: var(--margin-s-display);
    right: var(--margin-s-display);
}

h1,
h2,
h3 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: normal;
    user-select: none;
}