<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bugdets</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

    <style>
        :root { 
            --orderhub-brand-color: #2745FE;
            --accent-color: #360A73;
            --light-blue-color: #27B5FE;
            --light-color: #FFFFFF;
            --color-black: #000;
        }
    </style>
</head>
<body>
    <div class="container">
        <header class="container-fluid p-3">
            <h3>Movement</h3>
            <p>Create and organize your business's income and expense figures.</p>
        </header>

        <section>
            <div class="container">
                <input type="search" placeholder="Search...">
                <input type="date" placeholder="Date (Recent)">
                <button class="btn btn-primary">New Movement</button>
            </div>
        </section>

        <section id="movement">

        </section>
        
    </div>
</body>
</html>