#app-login-form input {
    border: 1px solid #11111149;
    padding: 4px 8px;
    border-radius: 6px;
}

#app-login-form input:focus {
    outline: none;
}

#login-btn {
    background-color: #2745FE;
}

#register-btn {
    border: 1px solid #CAC4D0;
    background-color: #fff;
    color: #49454F;
}